// Typography
$font-family-sans-serif: 'Muli', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$blue: #0043c0;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffcc00;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #0043c0;
$secondary: #747474;
$success: #079944;
$warning: #f6993f;
$danger: #e3342f;
$info: #6cb2eb;

$white: #FFFFFF;
$dark: #000000;

$border-radius: 25px;
