// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

video#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: no-repeat;
    background-size: cover;
}

body {
    font-family:$font-family-sans-serif;
    font-size:.875rem;
    font-weight:400;
    line-height:1.5;
    -webkit-text-size-adjust:100%;
    overflow-x: hidden;
}
.bg_img {
    background-image: url('../images/background/bg-3.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
}
.bg-grey {
    background-color: $secondary;
}
.btn{
    border-radius: 20px;
}
.radius{
    border-radius: $border-radius !important;
    border: none;
}
.radius-right {
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border: none;
}
.bg-tr-50 {
    background-color: rgba($color: #ffffffad, $alpha: 0.5);
}



